table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

.rotate {
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.N {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.E {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.S {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.W {
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.bg-dark-blue {
  background-color: #1676a6;
  color: white;
}

.bg-azure {
  background-color: azure;
  color: darkviolet;
}

.custom-border {
  padding: 20px;
  border: 1px solid black;
}
